<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="row">
    <div class="col-md-6">
      <h3>WorkStream - <small>{{workStreamCtrl.workStream.name}}</small></h3>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-primary">New WorkStream</button>
      <button type="button" class="btn btn-info">Invoice Hours</button>
    </div>
  </div>
</header>
<div class="content">
  <div class="well">
    <h4>Summary of Hours will go here !</h4>
  </div>

  <h4>Unbilled Hours</h4>
  <hr>
  <table class="table table-striped table-hover">
    <tr ng-repeat="item in workStreamCtrl.items">
      <td>
        <div class="task-description">
          <div class='read-only-value lead' ng-click="item.ctrl.edit();" ng-hide="item.ctrl.editMode">{{item.name}}</div>
          <div class='editable-value'  ng-show="item.ctrl.editMode">
            <input type="text" ng-model="item.name"/>
            <div class='pull-right action-buttons'>
              <button type="button" class="btn btn-danger btn-xs" ng-click="item.ctrl.cancel();">Cancel</button>
              -
              <button type="button" class="btn btn-primary btn-xs" ng-click="item.ctrl.save();">Save</button>
            </div>
          </div>

        </div>
        <div class="task-date-time">
          <small>{{item.dateTime | date :'medium'}}</small>
          -
          <small>Total Hours: <strong>{{item.groupHours | HoursFraction}}</strong></small>
        </div>
      </td>
      <td>
        <div class="task-time lead">
          {{item.hours | HoursFraction}}
        </div>
        <div class="task-edit">
          <span class="glyphicon glyphicon-edit" ng-click="item.ctrl.edit();" ></span>
          <span class="glyphicon glyphicon-remove" ng-click="item.ctrl.delete();" ></span>
        </div>
      </td>
    </tr>
  </table>
</div>
