.task-description{
  .read-only-value{

  }

  .editable-value{
    input {
      width: 100%;
      font-size: 21px;
      font-weight: 200;
      border: 1px solid lightgrey;
      padding-left: 5px;
      padding-top: 3px;
      padding-bottom: 3px;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }

  .action-buttons{
    margin-top: 5px;
    button {
      margin-left:10px;
    }
  }
}

.task-date-time{


}

.task-time{


}

.task-edit{
  span {
    margin-right:20px;
  }

}
