
//Navbar
input.form-control.hours
  width 80px 

.hoursDisplay
  display inline-block
  vertical-align bottom
  margin-left 5px
  margin-right 5px
  font-size 27px
  font-weight 600

#taskTime
  display inline-block

#saveTaskModal
  .invalid
    border red 1px solid
